@page "/LogOut"
@using Microsoft.AspNetCore.Components.Forms

<div class="nav-item px-3">
        <form id="logout" action="Account/Logout" method="post">
            <AntiforgeryToken/>
            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
            <button type="submit" class="nav-link">
                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
            </button>
        </form>
    <script>
        document.getElementById("logout").submit();
    </script>
    </div>

@code 
{
    private string currentUrl = "";
}