@inject HttpClient Http

@using System.Text.Json;
@using Radzen
@using SharedProj
@using SharedProj.newsitems
@inject NavigationManager Navigation
<h1>Hoi 4 News</h1>

@if (root == null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @if (root != null)
        {
            <RadzenLayout Style="height:auto; width:auto;">
                @if (root.appnews != null)
                {
                    <RadzenStack>
                        @if (root.appnews.newsitems[0].title != null)
                        {
                            <h3>@root.appnews.newsitems[0].title</h3>
                        }
                        <RadzenText>@displayedtext</RadzenText>
                        <a href="https://store.steampowered.com/news/app/394360" target="_blank" class="rz-button rz-primary">View Full News</a>
                    </RadzenStack>
                }
            </RadzenLayout>
        }
    </div>
}

@code
{
    private Root? root;
    private string? displayedtext;
    private string? fulltext;

    private void RedirectToHoi4News()
    {
        Navigation.NavigateTo("/Hoi4News");
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.PostAsync("/get-hoi4-news", null);

        if (response.IsSuccessStatusCode)
        {
            string json = await response.Content.ReadAsStringAsync();
            // Console.WriteLine(json); // Logga JSON för debugging

            // Deserialisera JSON med System.Text.Json
            var options = new JsonSerializerOptions { PropertyNameCaseInsensitive = true };
            var root = JsonSerializer.Deserialize<Root>(json, options);

            if (root != null && root.appnews != null)
            {
                foreach (var newsItem in root.appnews.newsitems)
                {
                    // Console.WriteLine($"Title: {newsItem.title}, URL: {newsItem.url}");
                }
                this.root = root;
                fulltext = root.appnews.newsitems[0].contents;
                if (fulltext != null)
                {
                    displayedtext = fulltext.Length > 300 ? fulltext.Substring(0, 300) + "..." : fulltext;
                }
            }
            else
            {
                Console.WriteLine("Deserialisering misslyckades, root eller appnews är null.");
            }
        }
        else
        {
            Console.WriteLine("Failed to load news.");
        }

    }
}