@using Shared.DBModels

@page "/Forum"

<h3>Forum</h3>

<RadzenDataGrid TItem="ForumCategory" Data="@forumCategories" AllowPaging="true" PageSize="5">
    <Columns>
        <RadzenDataGridColumn Title="Category and Description">
            <Template Context="category">
                <div @onclick="() => OnCategoryClicked(category)" style="cursor: pointer;">
                    <div style="font-weight:bold; font-size: 1.2em;">@category.Name</div>
                    <div style="font-style:italic; font-size:0.7em; margin-left: 2px;">@category.Description</div>
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code
{
    public List<ForumCategory> forumCategories { get; set; } = new();

    protected override void OnInitialized()
    {
        var ForumCat1 = new ForumCategory { Name = "Shitposting", Description = "Do your worst Deplorables!", ID = 0 };
        var ForumCat2 = new ForumCategory { Name = "Strategy talk", Description = "Let's talk Micro!", ID = 1 };
        var ForumCat3 = new ForumCategory { Name = "Become a GuideMaker", Description = "Apply here!", ID = 2 };

        forumCategories.Add(ForumCat1);
        forumCategories.Add(ForumCat2);
        forumCategories.Add(ForumCat3);
    }

    private void OnCategoryClicked(ForumCategory category)
    {
        // Hantera klicket, t.ex. navigera till trådar i den här kategorin
        Console.WriteLine($"Clicked on category: {category.Name}");
        // NavigationManager.NavigateTo($"/forum/category/{category.ID}");
    }
}


