@using SharedProj
@using Hoi4Strats.Client.Services
@inject UserService UService

@if (_isLoading)
{
    <span>Laddar roller...</span>
}
else
{
    @if (_roles != null)
    {
        @if (_roles.Count > 0)
        {
            <span>@string.Join(", ", _roles)</span>
        }
        else
        {
            <span>@_noRoles</span>
        }
    }
}

@code
{
    [Parameter]
    public string? UserId { get; set; }
    private string _noRoles = "No Roles";
    private List<string>? _roles;
    private bool _isLoading = true;

    protected override async Task OnAfterRenderAsync(bool firstrender)
    {

        await LoadRolesAsync();
        await InvokeAsync(StateHasChanged);
    }

    public async Task RefreshRoles()
    {
        await LoadRolesAsync();
        StateHasChanged();
    }

    private async Task LoadRolesAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            _isLoading = true;
            _roles = await UService.GetRolesAsync(UserId);
            _isLoading = false;
        }
    }
}