@using Hoi4Strats.Client.Data
@using Hoi4Strats.Client.Services
@inject UserService UService

@if (_isLoading)
{
    <span>Laddar roller...</span>
}
else
{
    <span>@string.Join(", ", _roles)</span>
}

@code
{
    [Parameter]
    public string? UserId { get; set; }

    private List<string>? _roles;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        await LoadRolesAsync();
    }

    public async Task RefreshRoles()
    {
        await LoadRolesAsync();
        StateHasChanged();
    }

    private async Task LoadRolesAsync()
    {
        if (!string.IsNullOrEmpty(UserId))
        {
            _isLoading = true;
            _roles = await UService.GetRolesAsync(UserId);
            _isLoading = false;
        }
    }
}