@page "/edit-roles-dialog"
@using SharedProj
@inject DialogService DialogService

<h4>Edit Roles for @SelectedUser?.UserName</h4>

<RadzenDropDown AllowSelectAll="false" TValue="string" Multiple="true" Data="@Roles" Change="@(args => SelectedRoles = ((IEnumerable<string>)args).ToList())" Placeholder="Select Roles" Value="SelectedRoles"/>

<RadzenButton Text="Save Changes" Click="SaveChanges" />

@code 
{
    [Parameter] public ApplicationUser ?SelectedUser { get; set; }
    [Parameter] public List<string> ?SelectedRoles { get; set; } // För valda roller
    [Parameter] public List<string> ?Roles { get; set; } // Roller som ska visas i drop-down

    private void SaveChanges()
    {
        DialogService.Close(SelectedRoles);

        // Skickar tillbaka de valda rollerna som resultat
    }
}
